# 忽略整个__pycache__文件夹
__pycache__/

# 忽略所有.pyc文件
*.pyc

# 忽略logs文件夹下的所有文件
logs/*

# 忽略整个build文件夹
build/

# 忽略dist文件夹
dist/

# 忽略models文件夹
models/

# 忽略warmup_audios文件夹
warmup_audios/

RVC-WarmupAudios/

cache.wav